/* CSS */

body {
  background: rgb(255, 255, 255);
  font-family: 'Helvetica Neue';
  font-weight: 400;
  color: rgb(30, 30, 30);
}

h1 {
  color: rgb(30, 30, 30);
  font-size: 24px;
  text-decoration: underline;
  letter-spacing: .03em;
}

h2 {
  line-height: 75%;
  font-size: 20px;
  text-decoration: underline;
  letter-spacing: .03em;
}

h3 {
  font-size: 20px;
  text-decoration: underline;
  letter-spacing: .03em;
}

h1, h2, h3 {
  font-weight: 400;
}

h4 {
  font-family: 'Helvetica Neue';
  color: rgb(30, 30, 30);
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  font-size: 10px;
  letter-spacing: 5px;
}

p {
  line-height: 150%;
  font-size: 14px;
}

a {
  color: rgb(201, 185, 162);
}

a {
  color: rgb(100, 100, 100);
}

ul {
  display: block;
  list-style-type: disc;
  padding: 0px;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

td {
  text-align: left;
  margin: 20px;
  padding: 20px;
}

#sidebar {
  text-align: center;
  position: fixed;
  width: 50px;
  top: 50%;
}

.inline-sidebar {
  list-style-type: none;
  padding-left: 0px;
  text-align: center;
}

.sidebar-title {
  text-align: center;
}

.rotate {

/* Safari */
-webkit-transform: rotate(-90deg);

/* Firefox */
-moz-transform: rotate(-90deg);

/* IE */
-ms-transform: rotate(-90deg);

/* Opera */
-o-transform: rotate(-90deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

@media (max-width: 540px) {
  .container {
    width: 650px;
    }
  }

#page-content {
  margin-left: 50px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 40px;
}

  .card {
    background: rgb(255, 255, 255);
    padding: 40px;
    margin: 20px;
  }

.text-center {
  text-align: center;
}

#img_profile {
  width: 150px;
  height: auto;
  border-radius: 50%;
}

.link_black {
  font-family: 'Helvetica Neue';
  color: rgb(30, 30, 30);
  font-weight: 800;
  text-transform: lowercase;
  text-align: center;
  font-size: 10px;
  letter-spacing: 3px;
  text-decoration: none;
}

.link_black:hover {
  color: rgb(201, 185, 162);
  text-decoration: none;
}

.inline_list li{
  display: inline-block;
}

.fab, .fas {
  font-size: 35px;
  padding: 10px;
}

.uppercase {
  text-transform: uppercase;
}

.downcase {
  text-transform: lowercase;
}

.img_greyscale {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
